# Build output
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
